{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>超市</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <link href="{% static 'css/amazeui.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'js/date.js' %}"></script>
    <script src="{% static 'js/iscroll.js' %}"></script>
</head>
<body>
<header data-am-widget="header" class="am-header am-header-default sq-head ">
    <div class="am-header-left am-header-nav">
        <a href="javascript:history.back()" class="">
            <i class="am-icon-chevron-left"></i>
        </a>
    </div>
    <h1 class="am-header-title">
        <a href="" class="">确认订单</a>
    </h1>
</header>
<div style="height: 49px;"></div>
<form action="" method="post" id="submit_order">
    {% csrf_token %}
    {% if not addr %}
        <div class="add-address">
            <a href="{% url 'order:addr_manage' %}">+新建收货地址</a>
            <i class="am-icon-angle-right"></i>
        </div>
    {% else %}
        <h5 class="order-tit">收货人信息</h5>
        <div class="order-name">
            <input type="hidden" name="addr" value="{{ addr.pk }}">
            <a href="{% url 'order:addr_manage' %}">
                <p class="order-tele">{{ addr.username }}&nbsp;&nbsp;&nbsp;{{ addr.phone }}</p>
                <p class="order-add">{{ addr.hcity }}{{ addr.hproper }}{{ addr.harea }}&emsp;{{ addr.brief }}</p>
            </a>
            <i class="am-icon-angle-right"></i>
        </div>
    {% endif %}
    <div style="background: #eee; height: 10px;"></div>
    <h5 class="order-tit">确认订单信息</h5>
    <ul class="shopcart-list" style="padding-bottom: 0; margin-top: 0;">
        {% for goods_sku in goods_skus %}
            <li>
                <input type="hidden" name="sku_id" value="{{ goods_sku.id }}">
                <img src="{{ MEDIA_URL }}{{ goods_sku.goods_logo }}" class="shop-pic"/>
                <div class="order-mid">
                    <div class="tit">{{ goods_sku.goods_spu.goods_spu_name }}{{ goods_sku.goods_sku_name }}</div>
                    <div class="order-price">￥{{ goods_sku.goods_price }} <i>X{{ goods_sku.count }}</i></div>
                </div>
            </li>
        {% endfor %}

    </ul>
    <ul class="order-infor">
        <li class="order-infor-first">
            <span>商品总计：￥</span>
            <i class="goods_price">{{ total_price }}</i>
        </li>
        <li class="order-infor-first">
            <span>运输方式：</span>
            <i>
                <select name="transport" id="transport">
                    {% for tran in transports %}
                        <option value="{{ tran.pk }}"
                                price="{{ tran.money }}">{{ tran.name }}-￥<i>{{ tran.money }}</i></option>
                    {% endfor %}
                </select>
            </i>
        </li>
    </ul>
</form>
<!--<div style="background: #eee; height: 10px;"></div>

<input id="beginTime" class="select-time" placeholder="请选择配送时间 >" /></div>
<div id="datePlugin"></div>-->
<div style="background: #eee; height: 10px;"></div>
<textarea placeholder="备注说明" class="bz-infor"></textarea>
<div style="background: #eee; height: 10px;"></div>
<div style="height: 55px;"></div>
<div class="shop-fix">
    <div class="order-text">
        应付总额：<span>￥<i class="total_price">0.00</i></span>
    </div>
    <a href="javascript:;" class="js-btn">提交订单</a>
</div>
<!--底部-->
<div style="height: 55px;"></div>
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default sq-foot am-no-layout" id="">
    <ul class="am-navbar-nav am-cf am-avg-sm-5">
        <li>
            <a href="../goods/index.html" class="">
                <span class="am-icon-home"></span>
                <span class="am-navbar-label">首页</span>
            </a>
        </li>
        <li>
            <a href="message.html" class="">
                <span class="am-icon-comments"></span>
                <span class="am-navbar-label">动态</span>
            </a>
        </li>
        <li>
            <a href="{% url 'cart:cart' %}" class="">
                <span class="am-icon-shopping-cart"></span>
                <span class="am-navbar-label">购物车</span>
            </a>
        </li>
        <li>
            <a href="allorder.html" class="curr">
                <span class="am-icon-file-text"></span>
                <span class="am-navbar-label">订单</span>
            </a>
        </li>

        <li>
            <a href="{% url 'user:member' %}" class="">
                <span class="am-icon-user"></span>
                <span class="am-navbar-label">我的</span>
            </a>
        </li>
    </ul>
</div>
<script>
    $(function () {
        total_price();
        $(".js-btn").on("click", function () {
                var data = $("#submit_order").serialize();
                //判断收货地址必须有, 运输方式必须选择

                {#console.debug(data);#}
               //发送ajax
                $.ajax({
                    type:"POST",
                    url:"{% url 'order:confirm_order' %}",
                    data:data,
                    dataType:"json",
                    success:function (data) {
                        if(data.code == 0){
                            //跳转到订单确认页面
                            location.href = "{% url 'order:show_order' %}?order_id="+data.order_id;
                        }else {
                            alert("订单创建失败!");
                        }
                    }
                })
        });

        function total_price() {
            var goods_price = $(".goods_price").text();
            var tran_price = $("#transport").find(":selected").attr("price");
            var totalprice = parseFloat(goods_price)+parseFloat(tran_price);
            $(".total_price").text(totalprice.toFixed(2))
        }
        $("#transport").on("change",function () {
            total_price();
        });
    })
</script>
</body>
</html>
